
div.toolBar.col-md-12
  button.btn.btn-danger(ng-click='removeProject(projectId)', aria-label='Remove') X
  button.btn.btn-info(ng-click='showEditInput=true',ng-hide="showEditInput", aria-label='Remove')
    span.glyphicon.glyphicon-pencil(aria-hidden="true")
  button.btn.btn-info(ng-click='showEditInput=false',ng-show="showEditInput", aria-label='Remove') Valider

div.infoText(ng-hide="showEditInput")
  h2.col-md-12 {{ project.name }}
  p {{ project.description }}
div.infoEdit(ng-show="showEditInput")
  div.form-group
    input.form-control(type='text', placeholder='Name',ng-model='project.name')
  div.form-group
    textarea.form-control(rows='3', ng-model='project.description')

section.row
  article.col-md-4(ng-repeat="listProject in  listsProject track by $index")
    h3 {{ listProject.listName }}
    button.btn.btn-info(ng-click='showEditList = ! showEditList', aria-label='Remove')
      span.glyphicon.glyphicon-pencil(aria-hidden="true")
    ul(ui-sortable="sortableOptions" ng-model='listProject.list' ng-hide="showEditList")
      li(ng-repeat="person in listProject.list")
        span.myHandle.glyphicon.glyphicon-move(aria-hidden="true")
        {{ person.name }}
        i  ({{ person.fonction }})

    ul(ng-show="showEditList")
      li.form-inline(ng-repeat="person in listProject.list")
        div.form-group
          label Nom
          input.form-control(type='text', ng-model='person.name')
        div.form-group
          label Fonction
          input.form-control(type='text', ng-model='person.fonction')

section.row
  article
    div.form-group
      button.btn.btn-primary(ng-click="showAddList = ! showAddList") Add list
    form#addListForm.form-group.form-horizontal(ng-show="showAddList")
      div.form-group
        select.form-control(ng-options="list.value as list.name for list in lists", ng-change="onChangeTypeList()", ng-model="list")
          option(value="") Sélectionner une liste
          {{ list }}

        div(ng-show="addNewTypeList")
          input(type="text", ng-model="newTypeList")
          button.btn.btn-secondary(ng-click="addnewTypeList()") Add new Type list
      div.row
        div.col-md-10.form-inline.form-group(ng-repeat="person in personArray")
          ng-form(name="userFieldForm")
            div.form-group
              label(for="personName") Nom
              input#personName.form-control(placeholded="Nom", type="text", ng-model='person.name')
            div.form-group
              label(for="personFonction") Fonction
              input#personFonction.form-control(placeholded="Fonction", type="text", ng-model="person.fonction")

        button.col-md-2.btn.btn-primary(ng-click="addNewLines()") + nouvelle ligne

      button.btn.btn-secondary(ng-click="addList()") Créer la liste
      div.text-danger
        {{ msgError }}




  
