
<div class="toolBar col-md-12">
  <button ng-click="removeProject(projectId)" aria-label="Remove" class="btn btn-danger">X</button>
  <button ng-click="showEditInput=true" ng-hide="showEditInput" aria-label="Remove" class="btn btn-info"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
  <button ng-click="showEditInput=false" ng-show="showEditInput" aria-label="Remove" class="btn btn-info">Valider</button>
</div>
<div ng-hide="showEditInput" class="infoText">
  <h2 class="col-md-12">{{ project.name }}</h2>
  <p>{{ project.description }}</p>
</div>
<div ng-show="showEditInput" class="infoEdit">
  <div class="form-group">
    <input type="text" placeholder="Name" ng-model="project.name" class="form-control"/>
  </div>
  <div class="form-group">
    <textarea rows="3" ng-model="project.description" class="form-control"></textarea>
  </div>
</div>
<section class="row">
  <article ng-repeat="listProject in  listsProject track by $index" class="col-md-4">
    <h3>{{ listProject.listName }}</h3>
    <button ng-click="showEditList = ! showEditList" aria-label="Remove" class="btn btn-info"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
    <ul ui-sortable="sortableOptions" ng-model="listProject.list" ng-hide="showEditList">
      <li ng-repeat="person in listProject.list"><span aria-hidden="true" class="myHandle glyphicon glyphicon-move"></span>{{ person.name }}<i> ({{ person.fonction }})</i></li>
    </ul>
    <ul ng-show="showEditList">
      <li ng-repeat="person in listProject.list" class="form-inline">
        <div class="form-group">
          <label>Nom</label>
          <input type="text" ng-model="person.name" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Fonction</label>
          <input type="text" ng-model="person.fonction" class="form-control"/>
        </div>
      </li>
    </ul>
  </article>
</section>
<section class="row">
  <article>
    <div class="form-group">
      <button ng-click="showAddList = ! showAddList" class="btn btn-primary">Add list</button>
    </div>
    <form id="addListForm" ng-show="showAddList" class="form-group form-horizontal">
      <div class="form-group">
        <select ng-options="list.value as list.name for list in lists" ng-change="onChangeTypeList()" ng-model="list" class="form-control">
          <option value="">Sélectionner une liste</option>{{ list }}
        </select>
        <div ng-show="addNewTypeList">
          <input type="text" ng-model="newTypeList"/>
          <button ng-click="addnewTypeList()" class="btn btn-secondary">Add new Type list</button>
        </div>
      </div>
      <div class="row">
        <div ng-repeat="person in personArray" class="col-md-10 form-inline form-group">
          <ng-form name="userFieldForm">
            <div class="form-group">
              <label for="personName">Nom</label>
              <input id="personName" placeholded="Nom" type="text" ng-model="person.name" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="personFonction">Fonction</label>
              <input id="personFonction" placeholded="Fonction" type="text" ng-model="person.fonction" class="form-control"/>
            </div>
          </ng-form>
        </div>
        <button ng-click="addNewLines()" class="col-md-2 btn btn-primary">+ nouvelle ligne</button>
      </div>
      <button ng-click="addList()" class="btn btn-secondary">Créer la liste</button>
      <div class="text-danger">{{ msgError }}</div>
    </form>
  </article>
</section>